@model e_commmerce.Entities.News

@{
    ViewData["Title"] = "Edit";
    var categories = ViewData["Categories"] as IEnumerable<e_commmerce.Entities.Category>;
}

<h1>Edit</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="IdN" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeCreate" class="control-label"></label>
                <input asp-for="TimeCreate" class="form-control" type="datetime-local" />
                <span asp-validation-for="TimeCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CateId" class="control-label"></label>
                <select asp-for="CateId" asp-items="@(new SelectList(categories, "Cid", "Name"))" class="form-control">
                    <option value="">Select a category</option>
                </select>
                <span asp-validation-for="CateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
